<div class="col-4">
    <div class="card">
        <div class="card-header">
            <h3><strong>{{name}}<br><i class="fa fa-coffee" aria-hidden="true"></i>Manager</strong></h3>
        </div>
        <div class="card-body">
            <div class="row info-field">
                ID: {{id}}
            </div>
            <div class="row info-field">
                Email: {{email}}
            </div>
            <div class="row info-field">
                Office Number: {{officeNumber}}
            </div>
        </div>
    </div>
</div>